@charset "UTF-8";
{
    font-family: arial, helvetica, sans-serif;
   height: 100%;
}

body{
    background-image: linear-gradient(to right, #005C53, #9FC131, #DBF227 )
}
main{
    background-color: #f5f4b8;
    border-radius: 10px;
    box-shadow: 5px 5px 5px blue; 
    width: 600px;
    padding:10px;
    margin:auto;
}
h1{
    color: #47c4b7;
    text-align: center;
    text-shadow: 2px 2px 2px #005C53 ;
}
h2{
    color:#aebd3d;
}

p{
    text-align:justify;
}